/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #cfcfcf;
}

h2, p, li, span {
  /*text-transform: capitalize;*/
}

label {
  display: block;
}

input {
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #a0a0a0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px;
  background: black;
  color: white;
}

input[type="submit"]:hover {
  background: #525252;
  cursor: pointer;
}

ul.questions {
  padding: 10px;
}

li.question {
  list-style-type: circle;
  margin: 3px 0;
}

li.question:hover {
  cursor: move;
}